PORT=5000
SUPABASE_URL=https://rawabbftcbftmtdbxlxx.supabase.co/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhd2FiYmZ0Y2JmdG10ZGJ4bHh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDg3NTQ1MiwiZXhwIjoyMDg2NDUxNDUyfQ.zgkj1b8wWX9mBznOIqNkggzw9i_to_I5zwm0s76G1Fw
EMAIL_USER=shivampawar44330j@gmail.com
EMAIL_PASS=123456
